NODE_ENV=
PORT=
HOST_NAME=

# Database (Local hoặc Aiven Cloud)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Chuỗi kết nối Prisma (đối với Aiven: mysql://<user>:<password>@<host>:<port>/<database>?ssl-mode=REQUIRED)
DATABASE_URL=


# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# VNPay Sandbox
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL_HOST=https://sandbox.vnpayment.vn
VNP_RETURN_URL=http://localhost:8080/payment/vnpay-return


#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_URL=